.App {
  text-align: center; }

.jumbotron {
  margin: auto;
  background-image: url(../images/graveyard.jpg);
  background-size:cover;
 

}










/* media screens */

@media screen and (min-width: 1028px) {

  
.jumbotron {
  background-image: url(../images/graveyard.jpg);
  background-size:cover;
  width:800px;
  height:500px;
 

}

	
}
