body {
  margin:0px;
  padding:0px;
}

.App {
  text-align: center;
}

/*the home page fonts*/

@font-face {
  font-family: Lovethunder;
  src: url("../fonts/A\ Love\ of\ Thunder.ttf");
}

@font-face {
  font-family: Woodprint;
  src: url("../fonts/WoodPrint-Regular.otf");
}

/*the game page  fonts*/

@font-face {
  font-family: Smoke;
  src: url("../fonts/SmokeInTheWoodsDEMO.otf");
}

/*home page*/

.jumbotron {
  margin: auto;
  padding:50px;
  background-image: url(../images/forest.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.display-4 {
  font-family: Lovethunder;
  /* color:#9FEA49; */
  background: linear-gradient(to right, #e6e6e6 0%, #cccccc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hunt-headline {
  background: linear-gradient(to right, #1a0d00 20%, #cccccc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  display: block;
}

.container {
  background-color: black;
  opacity: 0.7;
}

/*info start page*/

.lead {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.col-5 {
  margin: auto;
}

.btn-secondary {
  margin: 5px;
}

label{
  color:white;
}


/* game page*/

.game-container {
  background-image: url(../images/graveyard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.playername-container {
bottom:40px;
position: relative;
}

.uppgrade-list{
  margin: auto;
  position: relative;
  bottom:-80px;
  text-align: center;
}
/* uppgrade images*/
.column img{
  height: 50px;
  width: 50px;
  cursor: pointer;
  float: left;
  /* margin-left: 10px; */
  margin-top: 0px;
  position: relative;
  left: 20px;
}

.column p{
  font-family: Smoke;
 /* margin:1px; */
 position: relative;
 right: 20px;
 /* margin-left:20px; */
}
.column span{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}


.upgrade-name {
 font-size:1.3em;
 text-align: center;
 margin:5px;
}
.column {
  float: left;
  margin: 0px;
  background-image: url(../images/wood-board.png);
  background-size:contain;
  background-repeat: no-repeat;
  height: 100px;
  width:180px;
  
}

.money-score {
text-align: left;
color:white;
}

/* media screens */

@media screen and (min-width: 1028px) {
  .jumbotron {
    background-image: url(../images/forest.gif);
    background-size: cover;
    width: 1000px;
    height: 600px;
  }

  .game-container {
    background-image: url(../images/graveyard.jpg);
    background-size: cover;
    width: 1000px;
    height: 600px;
  }
  
}